body{
    font-family: sans-serif;
    color:gray
    padding: 5px;
}
header{
    text-align:center;
}
span{
    background-color:rgb(255, 251, 12);
    color:blue;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
*{
  padding: 5px;
  margin: 0;
}
div{
  border: 3px black solid;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}
p{
  margin: 15px 0px;
}
main{
  margin-top: 15px;
}
section{
  display: flex;
  justify-content: center;
}